.blocks-summary-sec {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.overall-summary-sec {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0px;
  gap: 25px;
}

.block-summary-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: 20px;
  margin-left: 0px;
  padding-top: 0;
}

.block-info {
  font-family: Poppins;
}

.block-info h3 {
  color: #64a7ca;
  font-family: 20px;
  margin-bottom: 30px;
}

.block-info p {
  margin: 10px 0;
  font-size: 14px;
  font-weight: 500;
}

.progress-circle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  position: relative;
  width: 120px; /* Adjusted */
  height: 120px; /* Adjusted */
}

.inner-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px; /* Adjusted font size */
  font-weight: bold;
}

.svg {
  transform: rotate(-90deg);
  width: 100%;
  height: 100%;
}

.circle-bg {
  fill: none;
  stroke: #e6e6e6;
  stroke-width: 3.8;
}

.circle-fill {
  fill: none;
  stroke: #64a7ca;
  stroke-width: 3.8;
  stroke-linecap: round;
  transition: stroke-dasharray 0.5s ease-out;
}
.per-text {
  font-family: Poppins;
  font-size: 20px;
  color: #64a7ca;
}
