.joinPage {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
}

.image-section {
  background-image: url("https://res.cloudinary.com/digbzwlfx/image/upload/v1724859291/european-modern-complex-residential-buildings-outdoor-facilities_250132-4082_1_empqqi.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 50%;
}

.j-contentWrapper {
  display: flex;
  /* margin-right: 86px; */
  width: 50%;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: flex-start;
}

.j-logo {
  aspect-ratio: 2.79;
  object-fit: contain;
  object-position: center;
  width: 408px;
  max-width: 100%;
  margin-top: 20px;
}

.joinSection {
  display: flex;
  width: 100%;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.buttonGroup {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;    /* Center buttons horizontally */
  gap: 10px;              /* Add spacing between elements */
}

.buttonRow {
  width: 100%;            /* Optional: Adjust the width if needed */
  display: flex;
  justify-content: center; /* Center the buttons within their row */
}

.joinTitle {
  align-self: center;
  color: var(--P-color, #1a4258);
  font: 700 24px Poppins, sans-serif;
}

.buttonGroup {
  display: flex;
  margin-top: 59px;
  width: 65%;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
}

.j-button-content {
  border-radius: 10px;
  background-color: var(--P-color, #1a4258);
  height: 40px;
  width: 150px;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
  border: none;
}

.registerSection {
  border-radius: 10px;
  display: flex;
  width: auto;
  font-family: Poppins, sans-serif;
  margin-bottom: 50px;
  margin-left: -20%;
}

.registerText {
  color: #808080;
  font-size: 14px;
  font-weight: 300;

  margin: auto 0;
  margin-right: 25px;
}

.registerButton {
  border-radius: 10px;
  background-color: var(--P-color, #1a4258);
  font-size: 12px;
  color: #fff;
  font-weight: 400;
  height: 40px;
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
}
