.user-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.user-main-sec {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 30px;
  box-sizing: border-box;
  height: 100%;
  padding: 40px 0px;
}
.profile-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: auto;
  font-family: "Arial", sans-serif;
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: Poppins;
}
.u-name-sec {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
}
.i-name-head {
  margin: 0;
}

.profile-name {
  font-size: 22px;
  font-weight: 600;
  margin: 10px 0 5px 0;
}

.profile-block {
  color: #888;
  font-size: 16px;
  margin-bottom: 15px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin: 5px 0;
}

.detail-item span {
  margin-left: 10px;
}

.profile-completion {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border-radius: 0 0 12px 12px;
  font-weight: bold;
  margin-top: 20px;
}

.profile-left {
  background: linear-gradient(to bottom right, #06283a, #65a8cc);
  color: #fff;
  padding: 30px;
  text-align: center;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.edit-link {
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  display: inline-block;
}

.profile-right {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
}
.p-head {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  letter-spacing: 2.4px;
  color: #64a7ca;
  margin-bottom: 0;
}
.line {
  border: 0;
  height: 1px;
  background: #ddd; /* Light gray color for the line */
  margin: 0; /* Space above and below the line */
  width: 100%; /* Makes sure the line takes full width of its container */
  margin-top: 10px;
}
.p-menu-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 40px;
}
.p-menu-each-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  width: 50%;
}
.p-m-head {
  color: #1a4258;
  font-weight: 500;
  margin: 0;
}

.p-m-text {
  color: #888;
  margin: 0;
  font-size: 12px;
}
