.complaints-filter {
  height: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 20px;
  margin-top: 30px;
}
.c-block-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: white;
  color: #333;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  outline: none;
  height: 40px;
  width: 150px;
  font-family: Poppins;
  font-weight: 500;
}

.c-block-button.active {
  background-color: #1a4258;
  color: white;
}
.complaints-display-sec {
  width: 95%;
  margin-top: 20px;
}
.eye-icon {
  margin-left: 20px;
  margin-bottom: -10px;
  color: #1a4258;
  height: 30px;
  width: 25px;
  cursor: pointer;
}
.complaint-popup {
  width: 85%;
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 30px;
}
/* Status Text Styling */
.status-open {
  background-color: #e3f2fd; /* Light blue background */
  color: #0288d1; /* Dark blue text */
  padding: 5px;
  border-radius: 4px;
  height: 30px;
  width: 100px;
  border-radius: 50px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.status-closed {
  background-color: #c8e6c9; /* Light green background */
  color: #388e3c; /* Dark green text */
  padding: 5px;
  border-radius: 4px;
  height: 30px;
  width: 100px;
  border-radius: 50px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.p-tag {
  line-height: 1.5;
}

.hover-eff {
  height: 30px;
  background-color: tomato;
  color: white;
  border: none;
  outline: none;
  border-radius: 8px;
  margin-left: 20px;
  cursor: pointer;
}

.hover-eff:hover {
  background-color: white;
  color: tomato;
  border: 1px solid tomato;
}
