.landingPage {
  display: flex;
  flex-direction: column;
  background-size: cover;
  overflow-x: hidden;
}

.landing-top-section {
  height: 100vh;
  background-image: url("https://cdn.builder.io/api/v1/image/assets/TEMP/2778f9b76677ea36b3dd7487e54da8a66e80b4d64d2305c34fb91c0be09e7e6a?placeholderIfAbsent=true&apiKey=c0675f285b7e411a80445cebc7c0b8d3");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-content {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desc-landing {
  text-align: center;
  width: 70%;
  margin: 20px auto;
}

@media (max-width: 991px) {
  .landingPage {
    padding-bottom: 100px;
  }
}

.mainContent {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  font-family: Poppins;
}

.heroSection {
  background-color: #ddd;
  display: flex;
  width: 100%;
  flex-direction: column;
  font-family: Poppins, sans-serif;
  font-weight: 800;
}

@media (max-width: 991px) {
  .heroSection {
    max-width: 100%;
  }
}

.heroWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 746px;
  width: 100%;
  justify-content: center;
  padding: 284px 228px;
}

@media (max-width: 991px) {
  .heroWrapper {
    max-width: 100%;
    padding: 100px 20px;
  }
}

.heroImage {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.heroContent {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 809px;
  flex-direction: column;
  justify-content: start;
}

@media (max-width: 991px) {
  .heroContent {
    max-width: 100%;
  }
}

.heroText {
  align-self: stretch;
  flex: 1;
  width: 100%;
  gap: 10px;
  font-size: 16px;
  font-style: bold;
  color: #000000;
  text-align: center;
  line-height: 25px;
  border: 1px solid rgba(2, 81, 112, 0);
}

@media (max-width: 991px) {
  .heroText {
    max-width: 100%;
  }
}

.ctaWrapper {
  border-radius: 10px;
  align-self: center;
  display: flex;
  margin-top: 20px;
  width: 230px;
  max-width: 100%;
  flex-direction: column;
  font-size: 20px;
  color: #fff;
}

.ctaButton {
  border-radius: 10px;
  background: var(--P-color, #1a4258);
  background-color: var(--P-color, #1a4258);
  padding: 15px 57px;
  border: none;
  cursor: pointer;
  font-size: inherit;
  color: inherit;
}

@media (max-width: 991px) {
  .ctaButton {
    padding: 0 20px;
  }
}

.aboutTitle {
  font-size: 30px;
  color: #1a4258;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
  /* padding: 0 70px; */
}

.aboutDescription {
  margin-top: 24px;
  font-size: 18px;
  color: #4b5563;
  font-weight: 400;
  line-height: 28px;
}

.whyCommUnity {
  align-self: center;
  width: 70%;
  border-radius: 15px;
  background-color: rgba(26, 66, 88, 0.87);
  margin-top: 59px;
  min-height: 301px;
  height: auto;
  max-width: 1010px;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  line-height: 28px;
  padding: 52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 991px) {
  .whyCommUnity {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }
}
