body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.form-container {
  /* display: flex;
  justify-content: flex-start;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  flex-direction: row;
  width: 100vw; */
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  font-family: "Inter" sans-serif;
}
.ad-img-sec {
  background-image: url("https://res.cloudinary.com/digbzwlfx/image/upload/v1724859291/european-modern-complex-residential-buildings-outdoor-facilities_250132-4082_1_empqqi.png");
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
}

.register-form {
  width: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
}

.register-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.register-form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register-form button {
  background-color: #1a4258;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 150px;
  align-self: center;
  margin-bottom: 50px;
}

.register-form button:hover {
  background-color: #004494;
}
.ad-inp-sec {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  overflow-y: auto;
  /* margin-bottom: 30px; */
  background-color: #f1f4f7;
  overflow-x: hidden;
}
.ad-inp-top-sec {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.ad-head1 {
  font-family: "Inter" sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #1a4258;
  margin-left: 30px;
}
.ad-logo-img {
  height: 100px;
  width: 100px;
}
.ad-input-f {
  height: 25px;
  width: 350px;
  border-radius: 5px;
  background-color: #eeeeee;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
