.security-filter {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  align-items: center;
  height: 60px;
  width: 98%;
  gap: 20px;
}

.block-header {
  margin-top: 30px;
  color: #1a4258;
}

.security-display-sec {
  padding: 20px;
  width: 95%;
}

.align-end {
  margin-right: 0;
  margin-left: auto;
}
.mar-top {
  margin-top: 100px;
}
.s-modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 350px;
  position: relative;
  height: 80%;
}
.space-more {
  width: 100%;
}
.full-width {
  width: 95%;
}
