.login-page-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  font-family: "Inter" sans-serif;
}

.login-left-sec {
  background-image: url("https://res.cloudinary.com/digbzwlfx/image/upload/v1724859291/european-modern-complex-residential-buildings-outdoor-facilities_250132-4082_1_empqqi.png");
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
}
.login-right-sec {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.login-title-wrapper {
  align-self: center;
  display: flex;
  width: 276px;
  height: 100px;
  flex-direction: column;
  align-items: center;
  color: var(--P-color, #1a4258);
  justify-content: start;
  margin-top: 40px;
}

.login-title {
  text-align: center;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 0;
}

.login-welcome-text {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 28px;
  margin-top: 0px;
}

.login-input-group {
  display: flex;
  width: 70%;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  white-space: nowrap;
  letter-spacing: 2.4px;
  justify-content: start;
  margin-bottom: 20px;
}

.login-input-label {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  letter-spacing: 2.4px;
  color: #64a7ca;
}

.login-input-field {
  height: 40px;
  border: none;
  outline: none;
  width: 100%;
  border-bottom: 1px solid #000;
  background-color: #f5f5f5;
}
.login-submit-button {
  border-radius: 10px;
  align-self: center;
  display: flex;
  flex-direction: column;
  color: #fff;
  font: 500 15px Poppins, sans-serif;
  background: var(--P-color, #1a4258);
  border: none;
  cursor: pointer;
  height: 40px;
  width: 150px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.login-main-logo {
  height: 120px;
}
.error-message {
  color: #d9534f;
  font-size: 12px;
  font-family: Poppins;
}
