.contact-list {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.add-contact-button {
  display: block;
  margin: 10px 0 20px auto;
  padding: 10px 20px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-contact-button:hover {
  background-color: #0056b3;
}

.edit-button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 1rem;
}

.edit-button:hover {
  color: #0056b3;
}
.ap-lst {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 100px;
}
.em-ic {
  width: 25px;
  height: 30px;
  cursor: pointer;
}
.space-above {
  margin-top: 50px;
}
